{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <h1>Алексей Акимов</h1>
  <div class="row">
    <div class="col">
      <p>
        Финансист с трехлетним опытом работы в инвестиционно-банковской сфере. Последние два года занимался автоматизацией
        бизнес-процессов и развитием алгоритмической торговли в банке "Держава", запустил торговлю фьючерсами на индекс RGBI
        в рамках маркет-мейкерской деятельности.
      </p>
      <p>
        Студент магистратуры экономического факультета МГУ им. М. В. Ломоносова. В рамках магистерской диссертации изучаю
        влияние риска инфляции на ценнобразование различных классов активов.
      </p>
      <p>
        Изучаю Python, как минимум, для развития своих карьерных возможностей. Как максимум, хотел бы обладать экспертизой
        в Python разработке и сменить профессию с уклоном на IT профиль.
      </p>
      <p>
        Мечтаю создать бизнес, который сделает жизнь людей лучше. Надеюсь, что знание финансов
        и IT скилы помогут мне в этом.
      </p>
    </div>
    <div class="col">
      <img src="{% static 'img/me.jpg' %}" width="400" height="400" class="d-inline-block align-top " alt="" class="left">
    </div>
  </div>
</div>
{% endblock %}